Language: Cpp
IndentWidth: 4
BreakBeforeBraces: Custom
NamespaceIndentation: All
BraceWrapping:
  AfterCaseLabel:  true
  AfterClass:      true
  AfterControlStatement: Never
  AfterEnum:       false
  AfterFunction:   true
  AfterNamespace:  false
  AfterStruct:     true
  AfterUnion:      true
  AfterExternBlock: false
  BeforeCatch:     false
  BeforeElse:      false
  BeforeLambdaBody: false
  BeforeWhile:     false
  IndentBraces:    false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
SortIncludes: true
IncludeBlocks: Preserve
IncludeCategories:
  - Regex: "<(.*)>"
    Priority: 2
    SortPriority: 2
  - Regex: "\"(.*)\""
    Priority: 3
    SortPriority: 3
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
DerivePointerAlignment: false
PointerAlignment: Left
AllowAllConstructorInitializersOnNextLine: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BreakConstructorInitializers: BeforeColon
FixNamespaceComments: true
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
ReflowComments: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
ColumnLimit: 130
AllowShortFunctionsOnASingleLine: None
ConstructorInitializerIndentWidth: 4