#build files
build/
**/CMakeFiles
CMake**
cmake**
!cmake
!CMakeLists.txt
Makefile

#documentation files
/doxy/

#binary files
*.a
*.o

#editor dir
**/.vscode
**/.vs
**/.cache/
compile_commands.json

#log files
*.log